@{
    ViewData["Title"] = "Home Page";
}

<h1>Singleton Working Times</h1>
<h2>@ViewBag.SingletonDateFirst</h2>
<h2>@ViewBag.SingletonDateSecond</h2>

<br />
<h1>Scoped Working Times</h1>
<h2>@ViewBag.ScopedDateFirst</h2>
<h2>@ViewBag.ScopedDateSecond</h2>

<br />
<h1>Transient Working Times</h1>
<h2>@ViewBag.TransientDateFirst</h2>
<h2>@ViewBag.TransientDateSecond</h2>
